.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.auth-box {
  display: flex;
  width: 800px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.auth-left {
  flex: 1;
  background: #ff4d6d;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right {
  flex: 1;
  padding: 40px;
}

.auth-right input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.auth-right button {
  width: 100%;
  padding: 10px;
  background: #ff4d6d;
  color: white;
  border: none;
}

.toggle-text {
  margin-top: 10px;
  font-size: 14px;
}

.toggle-text span {
  color: #ff4d6d;
  cursor: pointer;
}