.testimonial-section {
  background: #fcdce5;
}

/* TITLE */
.title {
  font-weight: bold;
}

/* GLASS CARD */
.glass-card {
  width: 70%;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
background-color: black;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease;
  color:#fcdce5;
}

.glass-card:hover {
  transform: translateY(-5px);
}

/* TEXT */
.glass-card p {
  font-style: italic;
  font-size: 16px;
}

.glass-card h6 {
  margin-top: 15px;
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .glass-card {
    width: 90%;
    padding: 20px;
  }
}