/* LAYOUT */
.admin-layout {
  display: flex;
}

/* MAIN CONTENT */
.main-content {
  width: 100%;
  min-height: 100vh;

  margin-left: 250px;

  background: #f9f9f9;

  transition: margin-left 0.3s ease;
}

/* WHEN SIDEBAR COLLAPSED */
.admin-layout.collapsed .main-content {
  margin-left: 85px;
}

/* PAGE CONTENT */
.page-content {
  padding: 20px;
}

/* MOBILE */
@media (max-width: 768px) {

  .main-content {
    margin-left: 0 !important;
  }

}